VTS Portal/Portal/Portal.Service/Service References/Service/VtsWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VTSWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VTSWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VtsWebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VtsWebServiceException" nillable="true" type="tns:VtsWebServiceException" />
</xs:schema>