VTS Webservice/Tester/Service References/serv/VtsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VtsWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IVtsWebService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vtswebservice.azurewebsites.net/VtsWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vtswebservice.azurewebsites.net/VtsWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vtswebservice.azurewebsites.net/VtsWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" />
      <xsd:import schemaLocation="http://vtswebservice.azurewebsites.net/VtsWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVtsWebService_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckUsernameAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsernameAvailability" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckUsernameAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsernameAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetLastAgentVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAgentVersion" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetLastAgentVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAgentVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetUserRoleByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoleByUserId" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetUserRoleByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoleByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetPartnersVehiclesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnersVehiclesCount" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetPartnersVehiclesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnersVehiclesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetClientsForPartner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsForPartner" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetClientsForPartner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsForPartnerResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetUsersVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersVehicles" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetUsersVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleByVin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleByVin" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleByVin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleByVinResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckWhetherVinIsSupported_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckWhetherVinIsSupported" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckWhetherVinIsSupported_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckWhetherVinIsSupportedResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckVinsReturnUnsupported_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckVinsReturnUnsupported" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckVinsReturnUnsupported_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckVinsReturnUnsupportedResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleInformationByVin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleInformationByVin" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleInformationByVin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleInformationByVinResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_ReturnUnsupportedVinsFromTheList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnUnsupportedVinsFromTheList" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_ReturnUnsupportedVinsFromTheList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnUnsupportedVinsFromTheListResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAgentVersions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentVersions" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAgentVersions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckVinsReturnUnregistered_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckVinsReturnUnregistered" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_CheckVinsReturnUnregistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckVinsReturnUnregisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_RegisterVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVehicle" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_RegisterVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_RegisterVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVehicles" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_RegisterVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AssociateVehicleWithUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AssociateVehicleWithUser" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AssociateVehicleWithUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssociateVehicleWithUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AssociateVehiclesWithUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AssociateVehiclesWithUser" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AssociateVehiclesWithUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssociateVehiclesWithUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleCharacteristics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleCharacteristics" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleCharacteristics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleCharacteristicsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehiclesInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehiclesInformation" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehiclesInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehiclesInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehiclesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehiclesForUser" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehiclesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehiclesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleEvents" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetVehicleEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_SubmitVehicleEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitVehicleEvent" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_SubmitVehicleEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitVehicleEventResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_DeleteVehicleEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVehicleEvent" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_DeleteVehicleEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVehicleEventResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDesktopMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDesktopMessages" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDesktopMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDesktopMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_UpdateVehicleMileage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehicleMileage" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_UpdateVehicleMileage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehicleMileageResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_SubmitAnalyticStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnalyticStatistics" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_SubmitAnalyticStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnalyticStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettings" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByType" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByTypeAndEngineFamily_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByTypeAndEngineFamily" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByTypeAndEngineFamily_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByTypeAndEngineFamilyResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByEngineFamilyAndEngineType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByEngineFamilyAndEngineType" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByEngineFamilyAndEngineType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByEngineFamilyAndEngineTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByEngineFamily_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByEngineFamily" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByEngineFamily_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByEngineFamilyResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsDefaultByTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsDefaultByTypes" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsDefaultByTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsDefaultByTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsBySignature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsBySignature" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsBySignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsBySignatureResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsWhereFamilyAndEngineIsNullResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsWhereEngineIsNull_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsWhereEngineIsNull" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsWhereEngineIsNull_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsWhereEngineIsNullResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByIds" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetAnalyticRuleSettingsByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalyticRuleSettingsByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_SubmitAnalyticRuleSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnalyticRuleSettings" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_SubmitAnalyticRuleSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnalyticRuleSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AggregateStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:AggregateStatistics" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_AggregateStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggregateStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDatasetsForVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetsForVehicle" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDatasetsForVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetsForVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_UploadDataset_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDataset" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_UploadDataset_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDatasetResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_UploadDatasets_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDatasets" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_UploadDatasets_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDatasetsResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_DeleteDataset_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataset" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_DeleteDataset_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDatasetResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_DeleteTrace_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrace" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_DeleteTrace_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTraceResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDatasetsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetsCount" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDatasetsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDatasetsCountForVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetsCountForVehicle" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetDatasetsCountForVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetsCountForVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetNextPageForVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPageForVehicle" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetNextPageForVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPageForVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetNextPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPage" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_GetNextPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPageResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsGetLast_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsGetLast" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsGetLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsGetLastResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsGetAll" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsGet" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsUpdate" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsPersist_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsPersist" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsPersist_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsPersistResponse" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsDelete" />
  </wsdl:message>
  <wsdl:message name="IVtsWebService_NewsDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IVtsWebService">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/CheckConnection" message="tns:IVtsWebService_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/CheckConnectionResponse" message="tns:IVtsWebService_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUsernameAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/CheckUsernameAvailability" message="tns:IVtsWebService_CheckUsernameAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/CheckUsernameAvailabilityResponse" message="tns:IVtsWebService_CheckUsernameAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/AuthenticateUser" message="tns:IVtsWebService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/AuthenticateUserResponse" message="tns:IVtsWebService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAgentVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetLastAgentVersion" message="tns:IVtsWebService_GetLastAgentVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetLastAgentVersionResponse" message="tns:IVtsWebService_GetLastAgentVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/RegisterUser" message="tns:IVtsWebService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/RegisterUserResponse" message="tns:IVtsWebService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetUserRoleByUserId" message="tns:IVtsWebService_GetUserRoleByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetUserRoleByUserIdResponse" message="tns:IVtsWebService_GetUserRoleByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnersVehiclesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetPartnersVehiclesCount" message="tns:IVtsWebService_GetPartnersVehiclesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetPartnersVehiclesCountResponse" message="tns:IVtsWebService_GetPartnersVehiclesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsForPartner">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetClientsForPartner" message="tns:IVtsWebService_GetClientsForPartner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetClientsForPartnerResponse" message="tns:IVtsWebService_GetClientsForPartner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAllUsers" message="tns:IVtsWebService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAllUsersResponse" message="tns:IVtsWebService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetUsersVehicles" message="tns:IVtsWebService_GetUsersVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetUsersVehiclesResponse" message="tns:IVtsWebService_GetUsersVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleByVin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleByVin" message="tns:IVtsWebService_GetVehicleByVin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleByVinResponse" message="tns:IVtsWebService_GetVehicleByVin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckWhetherVinIsSupported">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/CheckWhetherVinIsSupported" message="tns:IVtsWebService_CheckWhetherVinIsSupported_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/CheckWhetherVinIsSupportedResponse" message="tns:IVtsWebService_CheckWhetherVinIsSupported_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckVinsReturnUnsupported">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/CheckVinsReturnUnsupported" message="tns:IVtsWebService_CheckVinsReturnUnsupported_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/CheckVinsReturnUnsupportedResponse" message="tns:IVtsWebService_CheckVinsReturnUnsupported_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleInformationByVin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleInformationByVin" message="tns:IVtsWebService_GetVehicleInformationByVin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleInformationByVinResponse" message="tns:IVtsWebService_GetVehicleInformationByVin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUnsupportedVinsFromTheList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/ReturnUnsupportedVinsFromTheList" message="tns:IVtsWebService_ReturnUnsupportedVinsFromTheList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/ReturnUnsupportedVinsFromTheListResponse" message="tns:IVtsWebService_ReturnUnsupportedVinsFromTheList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentVersions">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAgentVersions" message="tns:IVtsWebService_GetAgentVersions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAgentVersionsResponse" message="tns:IVtsWebService_GetAgentVersions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckVinsReturnUnregistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/CheckVinsReturnUnregistered" message="tns:IVtsWebService_CheckVinsReturnUnregistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/CheckVinsReturnUnregisteredResponse" message="tns:IVtsWebService_CheckVinsReturnUnregistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/RegisterVehicle" message="tns:IVtsWebService_RegisterVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/RegisterVehicleResponse" message="tns:IVtsWebService_RegisterVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/RegisterVehicles" message="tns:IVtsWebService_RegisterVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/RegisterVehiclesResponse" message="tns:IVtsWebService_RegisterVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociateVehicleWithUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/AssociateVehicleWithUser" message="tns:IVtsWebService_AssociateVehicleWithUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/AssociateVehicleWithUserResponse" message="tns:IVtsWebService_AssociateVehicleWithUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociateVehiclesWithUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/AssociateVehiclesWithUser" message="tns:IVtsWebService_AssociateVehiclesWithUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/AssociateVehiclesWithUserResponse" message="tns:IVtsWebService_AssociateVehiclesWithUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleCharacteristics">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleCharacteristics" message="tns:IVtsWebService_GetVehicleCharacteristics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleCharacteristicsResponse" message="tns:IVtsWebService_GetVehicleCharacteristics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetVehiclesInformation" message="tns:IVtsWebService_GetVehiclesInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetVehiclesInformationResponse" message="tns:IVtsWebService_GetVehiclesInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetVehiclesForUser" message="tns:IVtsWebService_GetVehiclesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetVehiclesForUserResponse" message="tns:IVtsWebService_GetVehiclesForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleEvents" message="tns:IVtsWebService_GetVehicleEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetVehicleEventsResponse" message="tns:IVtsWebService_GetVehicleEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitVehicleEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/SubmitVehicleEvent" message="tns:IVtsWebService_SubmitVehicleEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/SubmitVehicleEventResponse" message="tns:IVtsWebService_SubmitVehicleEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicleEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/DeleteVehicleEvent" message="tns:IVtsWebService_DeleteVehicleEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/DeleteVehicleEventResponse" message="tns:IVtsWebService_DeleteVehicleEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDesktopMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetDesktopMessages" message="tns:IVtsWebService_GetDesktopMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetDesktopMessagesResponse" message="tns:IVtsWebService_GetDesktopMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleMileage">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/UpdateVehicleMileage" message="tns:IVtsWebService_UpdateVehicleMileage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/UpdateVehicleMileageResponse" message="tns:IVtsWebService_UpdateVehicleMileage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAnalyticStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/SubmitAnalyticStatistics" message="tns:IVtsWebService_SubmitAnalyticStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/SubmitAnalyticStatisticsResponse" message="tns:IVtsWebService_SubmitAnalyticStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettings" message="tns:IVtsWebService_GetAnalyticRuleSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsResponse" message="tns:IVtsWebService_GetAnalyticRuleSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByType" message="tns:IVtsWebService_GetAnalyticRuleSettingsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByTypeAndEngineFamily">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeAndEngineFamily" message="tns:IVtsWebService_GetAnalyticRuleSettingsByTypeAndEngineFamily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeAndEngineFamilyResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsByTypeAndEngineFamily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType" message="tns:IVtsWebService_GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineTypeResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByEngineFamilyAndEngineType">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamilyAndEngineType" message="tns:IVtsWebService_GetAnalyticRuleSettingsByEngineFamilyAndEngineType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamilyAndEngineTypeResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsByEngineFamilyAndEngineType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByEngineFamily">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamily" message="tns:IVtsWebService_GetAnalyticRuleSettingsByEngineFamily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamilyResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsByEngineFamily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsDefaultByTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsDefaultByTypes" message="tns:IVtsWebService_GetAnalyticRuleSettingsDefaultByTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsDefaultByTypesResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsDefaultByTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsBySignature">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsBySignature" message="tns:IVtsWebService_GetAnalyticRuleSettingsBySignature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsBySignatureResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsBySignature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull" message="tns:IVtsWebService_GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereFamilyAndEngineIsNullResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsWhereEngineIsNull">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereEngineIsNull" message="tns:IVtsWebService_GetAnalyticRuleSettingsWhereEngineIsNull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereEngineIsNullResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsWhereEngineIsNull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByIds" message="tns:IVtsWebService_GetAnalyticRuleSettingsByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByIdsResponse" message="tns:IVtsWebService_GetAnalyticRuleSettingsByIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAnalyticRuleSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/SubmitAnalyticRuleSettings" message="tns:IVtsWebService_SubmitAnalyticRuleSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/SubmitAnalyticRuleSettingsResponse" message="tns:IVtsWebService_SubmitAnalyticRuleSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggregateStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/AggregateStatistics" message="tns:IVtsWebService_AggregateStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/AggregateStatisticsResponse" message="tns:IVtsWebService_AggregateStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsForVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetDatasetsForVehicle" message="tns:IVtsWebService_GetDatasetsForVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetDatasetsForVehicleResponse" message="tns:IVtsWebService_GetDatasetsForVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDataset">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/UploadDataset" message="tns:IVtsWebService_UploadDataset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/UploadDatasetResponse" message="tns:IVtsWebService_UploadDataset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDatasets">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/UploadDatasets" message="tns:IVtsWebService_UploadDatasets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/UploadDatasetsResponse" message="tns:IVtsWebService_UploadDatasets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataset">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/DeleteDataset" message="tns:IVtsWebService_DeleteDataset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/DeleteDatasetResponse" message="tns:IVtsWebService_DeleteDataset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/DeleteTrace" message="tns:IVtsWebService_DeleteTrace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/DeleteTraceResponse" message="tns:IVtsWebService_DeleteTrace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetDatasetsCount" message="tns:IVtsWebService_GetDatasetsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetDatasetsCountResponse" message="tns:IVtsWebService_GetDatasetsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsCountForVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetDatasetsCountForVehicle" message="tns:IVtsWebService_GetDatasetsCountForVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetDatasetsCountForVehicleResponse" message="tns:IVtsWebService_GetDatasetsCountForVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextPageForVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetNextPageForVehicle" message="tns:IVtsWebService_GetNextPageForVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetNextPageForVehicleResponse" message="tns:IVtsWebService_GetNextPageForVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/GetNextPage" message="tns:IVtsWebService_GetNextPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/GetNextPageResponse" message="tns:IVtsWebService_GetNextPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsGetLast">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/NewsGetLast" message="tns:IVtsWebService_NewsGetLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/NewsGetLastResponse" message="tns:IVtsWebService_NewsGetLast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/NewsGetAll" message="tns:IVtsWebService_NewsGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/NewsGetAllResponse" message="tns:IVtsWebService_NewsGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/NewsGet" message="tns:IVtsWebService_NewsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/NewsGetResponse" message="tns:IVtsWebService_NewsGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/NewsUpdate" message="tns:IVtsWebService_NewsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/NewsUpdateResponse" message="tns:IVtsWebService_NewsUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsPersist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/NewsPersist" message="tns:IVtsWebService_NewsPersist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/NewsPersistResponse" message="tns:IVtsWebService_NewsPersist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IVtsWebService/NewsDelete" message="tns:IVtsWebService_NewsDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVtsWebService/NewsDeleteResponse" message="tns:IVtsWebService_NewsDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVtsWebService" type="tns:IVtsWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUsernameAvailability">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckUsernameAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAgentVersion">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetLastAgentVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleByUserId">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetUserRoleByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnersVehiclesCount">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetPartnersVehiclesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsForPartner">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetClientsForPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersVehicles">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetUsersVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleByVin">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleByVin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWhetherVinIsSupported">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckWhetherVinIsSupported" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVinsReturnUnsupported">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckVinsReturnUnsupported" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleInformationByVin">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleInformationByVin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUnsupportedVinsFromTheList">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/ReturnUnsupportedVinsFromTheList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentVersions">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAgentVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVinsReturnUnregistered">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckVinsReturnUnregistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/RegisterVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterVehicles">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/RegisterVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateVehicleWithUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AssociateVehicleWithUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateVehiclesWithUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AssociateVehiclesWithUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleCharacteristics">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleCharacteristics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesInformation">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehiclesInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesForUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehiclesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleEvents">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitVehicleEvent">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/SubmitVehicleEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicleEvent">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/DeleteVehicleEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDesktopMessages">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDesktopMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleMileage">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/UpdateVehicleMileage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnalyticStatistics">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/SubmitAnalyticStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettings">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByType">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByTypeAndEngineFamily">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeAndEngineFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByEngineFamilyAndEngineType">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamilyAndEngineType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByEngineFamily">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsDefaultByTypes">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsDefaultByTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsBySignature">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsBySignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsWhereEngineIsNull">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereEngineIsNull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByIds">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnalyticRuleSettings">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/SubmitAnalyticRuleSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateStatistics">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AggregateStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsForVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDatasetsForVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDataset">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/UploadDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDatasets">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/UploadDatasets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataset">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/DeleteDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsCount">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDatasetsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsCountForVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDatasetsCountForVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextPageForVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetNextPageForVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextPage">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetNextPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGetLast">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsGetLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGetAll">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGet">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsUpdate">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsPersist">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsPersist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsDelete">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IVtsWebService" type="tns:IVtsWebService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IVtsWebService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUsernameAvailability">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckUsernameAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAgentVersion">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetLastAgentVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleByUserId">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetUserRoleByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnersVehiclesCount">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetPartnersVehiclesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsForPartner">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetClientsForPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersVehicles">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetUsersVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleByVin">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleByVin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckWhetherVinIsSupported">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckWhetherVinIsSupported" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVinsReturnUnsupported">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckVinsReturnUnsupported" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleInformationByVin">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleInformationByVin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUnsupportedVinsFromTheList">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/ReturnUnsupportedVinsFromTheList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentVersions">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAgentVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVinsReturnUnregistered">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/CheckVinsReturnUnregistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/RegisterVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterVehicles">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/RegisterVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateVehicleWithUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AssociateVehicleWithUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateVehiclesWithUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AssociateVehiclesWithUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleCharacteristics">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleCharacteristics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesInformation">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehiclesInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesForUser">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehiclesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleEvents">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetVehicleEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitVehicleEvent">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/SubmitVehicleEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicleEvent">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/DeleteVehicleEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDesktopMessages">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDesktopMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleMileage">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/UpdateVehicleMileage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnalyticStatistics">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/SubmitAnalyticStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettings">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByType">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByTypeAndEngineFamily">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeAndEngineFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByTypeEngineFamilyAndEngineType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByEngineFamilyAndEngineType">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamilyAndEngineType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByEngineFamily">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByEngineFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsDefaultByTypes">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsDefaultByTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsBySignature">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsBySignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereFamilyAndEngineIsNull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsWhereEngineIsNull">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsWhereEngineIsNull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalyticRuleSettingsByIds">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetAnalyticRuleSettingsByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnalyticRuleSettings">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/SubmitAnalyticRuleSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateStatistics">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/AggregateStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsForVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDatasetsForVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDataset">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/UploadDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDatasets">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/UploadDatasets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataset">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/DeleteDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsCount">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDatasetsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetsCountForVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetDatasetsCountForVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextPageForVehicle">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetNextPageForVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextPage">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/GetNextPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGetLast">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsGetLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGetAll">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGet">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsUpdate">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsPersist">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsPersist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsDelete">
      <soap:operation soapAction="http://tempuri.org/IVtsWebService/NewsDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VtsWebService">
    <wsdl:port name="BasicHttpBinding_IVtsWebService" binding="tns:BasicHttpBinding_IVtsWebService">
      <soap:address location="http://vtswebservice.azurewebsites.net/VtsWebService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IVtsWebService" binding="tns:BasicHttpsBinding_IVtsWebService">
      <soap:address location="https://vtswebservice.azurewebsites.net/VtsWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>