VTS Monitor/VTSWeb.Service/Service References/VtsWebService/VtsWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vtswebservice.azurewebsites.net/VtsWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" />
  <xs:element name="CheckConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUsernameAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q1:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAgentVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAgentVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" minOccurs="0" name="GetLastAgentVersionResult" nillable="true" type="q2:AgentVersionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" minOccurs="0" name="user" nillable="true" type="q3:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRoleByUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnersVehiclesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnersVehiclesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPartnersVehiclesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsForPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsForPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" minOccurs="0" name="GetClientsForPartnerResult" nillable="true" type="q4:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VTSWebService.DataContracts" minOccurs="0" name="GetUsersVehiclesResult" nillable="true" type="q5:ArrayOfVehicleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>